{%- if cart != empty -%}
  {% assign currency_symbol = shop.money_format | remove: "{{amount}}" | strip %}

  <div 
    x-data="cartNotice" 
    x-init="init"
    x-show="cartTotal > 0"
    data-free-shipping-threshold="{{ block.settings.free_shipping_threshold }}"
    data-cart-total="{{ cart.total_price | divided_by: 100 }}"
    data-currency-symbol="{{ currency_symbol }}"
    style="
      font-size: {{ block.settings.textSize }}px;
      color: {{ block.settings.textColor }};
      background-color: {{ block.settings.backgroundColor }};
      border: {{ block.settings.borderWidth }}px solid {{ block.settings.borderColor }};
      border-radius: {{ block.settings.borderRadius }}px;
      text-align: {{ block.settings.textAlign }};
      padding: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
    ">
    <div>
      <template x-if="amountNeeded > 0">
        <p>You are <span x-text="currencySymbol"></span><span x-text="amountNeeded.toFixed(2)"></span> away from FREE shipping.</p>
      </template>
      <template x-if="amountNeeded <= 0">
        <p>Congratulations! You qualify for FREE shipping.</p>
      </template>
    </div>
  </div>
{%- endif -%}

<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
<script src="{{ 'cart-events.js' | asset_url }}"></script>

<script>
  function cartNotice() {
    return {
      freeShippingThreshold: 0,
      cartTotal: 0,
      amountNeeded: 0,
      currencySymbol: '',
      newNoteValue: '',
      cartNoteTextArea: '',
      cartNoteUpdated: false,
      init() {
        this.freeShippingThreshold = parseFloat(this.$el.dataset.freeShippingThreshold);
        this.cartTotal = parseFloat(this.$el.dataset.cartTotal);
        this.currencySymbol = this.$el.dataset.currencySymbol;
        this.cartnote = document.querySelector('.cart__note');
        this.checkbox1 = document.getElementById('checkbox1');
        this.specificDateField = document.getElementById('specificDate');
        this.cartNoteTextArea = document.getElementById('CartDrawer-Note');
        this.checkboxes = document.querySelectorAll('input[name="special_instructions[]"]');
        this.errorMsg = document.createElement('p');
        this.errorMsg.style.color = 'red';
        this.updateAmountNeeded();
        this.updateCartNote();
        this.updateCartNoteValue();
        this.setupCartListener();
        // Initialize debouncedUpdate after setup
        this.debouncedUpdate = debounce(() => {
          this.updateCartNoteValue();
        }, 300);

        this.checkboxes.forEach((checkbox) => {
          checkbox.addEventListener('change', this.debouncedUpdate);
        });
      },
      updateAmountNeeded() {
        this.amountNeeded = this.freeShippingThreshold - this.cartTotal;
      },
      updateCartNote() {
        if (this.cartNoteUpdated) return;

        if (this.cartnote) {
          let newDiv = document.createElement('div');
          newDiv.className = 'special-instructions';
          newDiv.innerHTML = `
            <label>
              <input type="checkbox" id="checkbox1" name="special_instructions[]" value="Need by a specific date">
              Need by a specific date:
              <input type="date" id="specificDate" name="specific_date" class="field__input visually-hidden">
            </label>
            <label>
              <input type="checkbox" id="checkbox2" name="special_instructions[]" value="Ship to a different address">
              Ship to a different address
            </label>
            <label>
              <input
                type="checkbox"
                id="checkbox3"
                name="special_instructions[]"
                value="Would like information about samples"
              >
              Would like information about samples
            </label>
          `;

          this.cartnote.parentNode.insertBefore(newDiv, this.cartnote);
          this.cartNoteUpdated = true;
        }

        this.checkbox1 = document.getElementById('checkbox1');
        this.specificDateField = document.getElementById('specificDate');
        this.cartNoteTextArea = document.getElementById('CartDrawer-Note');
        this.checkboxes = document.querySelectorAll('input[name="special_instructions[]"]');

        if (this.checkbox1) {
          this.checkbox1.addEventListener('change', () => {
            this.specificDateField.value = null;
            this.specificDateField.classList.toggle('visually-hidden', !this.checkbox1.checked);
            this.updateCartNoteValue();
          });
        }

        if (this.specificDateField) {
          this.specificDateField.addEventListener('change', this.debouncedUpdate);
        }

        if (this.specificDateField && this.specificDateField.parentNode) {
          this.specificDateField.parentNode.appendChild(this.errorMsg);
        }

      },
      updateCartNoteValue() {
        const selectedValues = Array.from(this.checkboxes).reduce((instructions, checkbox) => {
          if (checkbox.checked) {
            let instruction = checkbox.value;
            if (checkbox.id === 'checkbox1' && this.specificDateField.value.trim() !== '') {
              instruction = `${checkbox.value}: ${this.specificDateField.value}`;
              this.errorMsg.textContent = '';
            } else if (checkbox.id === 'checkbox1' && this.specificDateField.value.trim() === '') {
              this.errorMsg.textContent = 'Please provide a specific date.';
              this.errorMsg.scrollIntoView();
              return instructions;
            }
            instructions.push(instruction);
          }
          return instructions;
        }, []);

        console.log('selected --->', selectedValues);
      },
      setupCartListener() {
        window.addEventListener('SCE:mutate', (event) => {
          const newCartTotal = event.detail.total_price / 100;
          this.cartTotal = newCartTotal;
          this.updateAmountNeeded();
        });
      }
    }
  }
</script>

<style>
  .special-instructions {
    display: flex;
    flex-direction: column;
  }
  .special-instructions label {
    margin-bottom: 10px;
  }
</style>

{% schema %}
{
  "name": "Cart Notice",
  "target": "section",
  "settings": [
    {
      "id": "free_shipping_threshold",
      "type": "number",
      "label": "Free Shipping Threshold",
      "default": 400
    },
    {
      "id": "textSize",
      "type": "range",
      "min": 12,
      "max": 24,
      "step": 1,
      "unit": "px",
      "label": "Font Size",
      "default": 16
    },
    {
      "id": "textAlign",
      "type": "select",
      "label": "Text Align",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "id": "textColor",
      "type": "color",
      "label": "Text Color",
      "default": "#000000"
    },
    {
      "id": "backgroundColor",
      "type": "color",
      "label": "Background Color",
      "default": "#fafafa"
    },
    {
      "id": "borderColor",
      "type": "color",
      "label": "Border Color",
      "default": "#a1a1a1"
    },
    {
      "id": "borderWidth",
      "type": "range",
      "min": 0,
      "max": 3,
      "step": 1,
      "unit": "px",
      "label": "Border Width",
      "default": 1
    },
    {
      "id": "borderRadius",
      "type": "range",
      "min": 0,
      "max": 20,
      "step": 5,
      "unit": "px",
      "label": "Border Radius",
      "default": 10
    }
  ]
}
{% endschema %}
